/************************** HELPERS AND SERVICE CLASSES*************************/

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.nomargin {
    margin-right: 0;
    margin-left: 0;
}

.noradius {
    border-radius: 0;
}

/*************************************** COMMON STYLES START ****************************************/

html, body {
    height: 100%;
    /*background-color: #F8F8FF;*/
}

body,h1,h2,h3,h4,h5,h6 {
    font-family:open sans,sans-serif;
}

h1 {
    color: #606060;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
}

.uc{
    text-transform: uppercase;
}


.avatar {
    border: 2px solid white;
    border-radius: 50%;
}

.header_user_name {
    color: white !important;
    font-weight: bold;
}

.header_user_name:hover {
   text-decoration: none;
}
.header_user_name span {
    padding-left: 10px;
}

.user_name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    vertical-align: middle;
}


/************************** HEADER*************************/

.header {
    min-height: 60px;
    background-color: #272930;
}

.logo {
    color: white;
    font-size: xx-large;
    text-decoration: none;
    font-weight: bold;
}

.header-menu > a{
    padding-right: 5%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: large;
    white-space: nowrap
}

/*.header-menu > a:hover{*/
/*    color: black;*/
/*    font-size: x-large;*/
/*    text-decoration: none;*/
/*}*/

.nav-left > a:nth-last-child(1) {
    margin-left: 20px;
}

.main_content {
    padding-top: 20px;
}


/**************************FOOTER*************************/

.footer {
    padding-top: 40px;
    background-color: #252525;
}

/*************************************** COMMON STYLES END ****************************************/


/**************************READER STYLES START*************************/

.sidebar {
    background-color: #f3f3f3;
    padding-left: 0;
    padding-right: 0;
}

.sidebar li {
    border-bottom: 1px solid dimgray;
}

.reader_sidebar_block_name {
    text-transform: uppercase;
    color: #606060;
    font-weight: bold;
}

.sidebar a {
    font-size: large;
    text-transform: uppercase;
}

.sidebar_menu_link {
    font-size: large;
    text-transform: uppercase;
}

.reader_main_content {
    padding-top: 10px;
}

.reader_sidebar_menu_title {
    text-transform: uppercase;
    font-weight: bold;
    color: #2e21df;
    font-size: xx-large;
    padding-left: 20px;
}

.reader_sidebar_menu_item {
    text-transform: uppercase;
    font-weight: bold;
    color: #606060;
    font-size: large;
}

.text_flag {
    width: 35px;
    height: 20px;
    /*border: 1px solid gray;*/
}

.text_item_wrapper {
    max-width: 825px;
    overflow-wrap: break-word;
    overflow: hidden;
}


.text_item {
    padding-bottom: 5px;
    margin-top: 20px;
}


.text_controls {
    margin-top: 10px;
}


/* фикс для цвета селектора языков. это просто пиздец. ебанный фронтенд*/

button[data-id="lang_to"], button[data-id="lang_from"], button[data-id="lang_known"], button[data-id="lang_learn"] {
    background-color: white;
    border: 1px solid #ced4da;
}

#all_text_words td, #all_text_words th {
    text-align: center;
    width: 33%;
}

/**********************READER TEXT PAGE*********************/

.page_text_wrapper {
    white-space: pre-wrap;
    font-size: 18px;
    line-height: 2;
}

mark {
    background-color: white;
    border-radius: 10%
}

mark.study {
    background-color: #fcf8e3;
}

mark.unknown {
    background-color: #aee0f4;
}

span.translation {
    color: green;
    font-size: 16px;
    font-weight: bold;

}

/**************************READER STYLES END*************************/



/**************************QA STYLES START*************************/

.trix {
    min-height: 300px;
}

/* All question page */

.qa_main h1 {
    padding-top: 15px;
}

.q_lang_filter {
    border: 2px solid lightgray;
    padding: 10px 20px;
    margin-bottom: 30px;
}

/* single question page */

.question_answers_count {
    text-align: center;
}

.q_lang_arrow {
    font-size: x-large;
    vertical-align: middle;
}

.question_info {
    margin-bottom: 30px;
}

.question_content {
    margin-bottom: 30px;
}

.answers_title {
    border-bottom: 1px solid lightgray;
}

.answer_wrapper {
    margin-top: 30px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.answer_form {
    margin-top: 30px;
}
