/************************** HELPERS AND SERVICE CLASSES*************************/

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.nomargin {
    margin-right: 0;
    margin-left: 0;
}

.noradius {
    border-radius: 0;
}

/*************************************** COMMON STYLES START ****************************************/

html, body {
    height: 100%;
    /*background-color: #F8F8FF;*/
}

body,h1,h2,h3,h4,h5,h6 {
    font-family:open sans,sans-serif;
}

/************************** HEADER*************************/

.header {
    min-height: 60px;
}

.logo {
    color: #2e21df;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
}

.header-menu > a{
    padding-right: 5%;
    text-transform: uppercase;
    font-weight: bold;
    color: #606060;
    font-size: x-large;
    white-space: nowrap
}

/*.header-menu > a:hover{*/
/*    color: black;*/
/*    font-size: x-large;*/
/*    text-decoration: none;*/
/*}*/

.nav-left > a:nth-last-child(1) {
    margin-left: 20px;
}

.main_content {
    padding-top: 20px;
}


/**************************FOOTER*************************/

.footer {
    padding-top: 40px;
    background-color: #252525;
}

/*************************************** COMMON STYLES END ****************************************/


/**************************READER STYLES START*************************/

.sidebar {
    background-color: #f3f3f3;
    padding-left: 0;
    padding-right: 0;
}

.sidebar a {
    font-size: large;
    text-transform: uppercase;
}

.reader_main_content {
    padding-top: 10px;
}

.reader_sidebar_menu_title {
    text-transform: uppercase;
    font-weight: bold;
    color: #2e21df;
    font-size: xx-large;
    padding-left: 20px;
}

.reader_sidebar_menu_item {
    text-transform: uppercase;
    font-weight: bold;
    color: #606060;
    font-size: large;
}




.text_item {
    padding-bottom: 5px;
    margin-top: 20px;
}

.text_controls {
    margin-top: 10px;
}

.sidebar li {
    border-bottom: 1px solid dimgray;
}


/**************************READER STYLES END*************************/